body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div#Book {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#BookDetails{
  margin-bottom: 1em;
  font-size: large;
}

div#pageContent {
  font-size: 2em;
  padding: 0.5em 3em;
  flex: 1 1 0;
}

div#doublePage {
  display: flex;
  flex-direction: row;

}
